- const menu = ['home', 'form-1', 'form-2'];

ul(class="navbar-nav ms-auto mb-2 mb-lg-0")

	each item in menu 

		li(class="nav-item")

			a(class="nav-link"+ (menuItemActive === item ? ' active-menu-item' : '') aria-current="page" href="/"+ (item === 'home' ? '' : item)) #{item}